main {
    margin: auto;
}

#my-container {
    margin: auto;
}

.main {
    margin: auto;
    text-align: center;
}

.level {
    margin: auto;
}

.No {
    margin: auto;
}

.quiz-area {
    margin: auto;
}

#qanda {
    margin: auto;
}