<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distinctionality</title>
    <link rel="stylesheet" href="/static/css/endQuiz.css">
</head>
<body>
    <main>
        <h1>Conglatulations! You did it!</h1>
        <form action="/" method="GET"></form>
        <a href="#" onclick="document.forms[0].submit()" class="link">Click here to go back to homepage</a>
    </main>
    <!-- <script src="/static/js/endQuiz.js"></script> -->
</body>
</html>