<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distinctionality</title>
    <link rel="stylesheet" href="/static/css/quiz.css">
</head>
<body>
    <main>
        <div id="container">
            <section class="main">
                <p class="level">Level 1</p>
                <p class="No"></p>
                <div class="quiz-area">
                    <p id="qanda"></p>
                </div>
                <div class="btn">
                    <button class="left" onclick="goBack()">＜</button>
                    <button class="flip" onclick="flip()">answer</button>
                    <button class="left" onclick="goBack()">＞</button>
                </div>
            </section>
        </div>
    </main>
    <script src="/static/js/quiz.js"></script>
</body>
</html>